body {
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e2e1e0;
    margin: 0;
}

#container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: calc(100vh - 65px); /* Height of the navbar. */
}

#app-name {
    font-size: 24px;
    margin-right: 24px;
}

h1 {
    margin-top: 0;
}

.btn {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 0.5rem 0.75rem;
}

.btn:hover {
    border: 1px solid #ddd;
    cursor: pointer;
}

.green {
    border-color: #70c1b3;
    color: #70c1b3;
}

.green:hover {
    background-color: #70c1b3;
    border-color: #70c1b3;
    color: white;
}

.blue {
    border-color: #247ba0;
    color: #247ba0;
}

.blue:hover {
    background-color: #247ba0;
    color: white;
    border-color: #247ba0;
}

.red {
    border-color: #f25f5c;
    color: #f25f5c;
}

.red:hover {
    background-color: #f25f5c;
    color: white;
    border-color: #f25f5c;
}

.btn > svg {
    margin-right: 8px;
}

nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    margin: 1rem 0 1rem 1rem;
}

.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 32px;
    margin: 32px;
}

.card:first-child {
    margin-right: 0px;
}

#instructions {
    max-width: 350px;
    overflow-y: scroll;
}

canvas {
    background-color: white;
    display: block;
    flex-grow: 1;
}

.key-command {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.align-vertically {
    display: flex;
    align-items: center;
}

/* Export mode overrides */
.export-mode #container {
    height: initial;
}

.export-mode #canvas,
.export-mode #instructions {
    display: none;
}

/* Export mode overrides */
.fullscreen #instructions {
    display: none;
}
